.weather-container{
    position: absolute;
    text-align: left;
    padding: 1rem;
    top: 0;

    h2{
        font-size: 2rem;
        color: #fff;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
    h1{
        font-size: 3rem;
        color: #fff;
        margin: 2px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
}